.article {

}

.funding-pledged {
    color: skyBlue;
    font-size: 200%;
}

.funding-goal, .funding-backers-text {
    color: black;
    font-size: 75%;
}

.funding-backers-count {
    color: black;
    font-size: 200%;
}
