<header class="header">
  <div class="container">
    <div class="header-content">
      <img style="vertical-align:middle" src="<%- theme.logo_src %>" height="25" width="25" />
      <h1 class="header-logo">ByWater Solutions</h1>
      <form id="header-search-form" class="header-search-form">
        <input id="header-search-input" class="header-search-input" type="text" placeholder="<%= __('search') %>"/>
      </form>
    </div>
  </div>
</header>
