<section class="jumbotron">
  <div class="container">
    <h2 class="jumbotron-title">
        <span class="symbol"><img style="vertical-align:middle" src="images/full_logo.png" alt="" /></span>
        Development Crowdsourcing
    </h2>
  </div>
</section>
