<section class="jumbotron">
  <div class="container">
    <h2 class="jumbotron-title">
        <span class="symbol"><img src="<%- theme.logo_src %>" alt="" /></span>
        <%= __('jumbotron.title') %>
    </h2>
  </div>
</section>
