<%
    let modules = [];
    items.reverse().forEach(item => {
        modules[item.module] = 1;
    });

    modules = Object.keys(modules);
%>

<section class="container">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active module_filter" id="module_filter-ALL" href="#">All categories</a>
    </li>

    <% modules.forEach( m => { %>
        <li class="nav-item">
            <a href="#" class="nav-link module_filter" id="module_filter-<%=m %>">
                <%=m %>
            </a>
        </li>
    <% }); %>
</ul>
</section>

<script type="text/javascript">
(function() {
    const links = document.getElementsByClassName("module_filter");
    for ( let i = 0; i < links.length; i++ ) {
        links[i].addEventListener("click", filterCategories );
    }
})();

function filterCategories() {
    const parts = this.id.split("-");
    parts.shift();
    const module = parts.join("-");
    let moduleClass = "module-" + module;

    let links = document.getElementsByClassName('nav-link');
    Array.from(links).forEach( link => {
        link.classList.remove("active");
    });
    this.classList.add("active");

    let cards = document.getElementsByClassName('card-wrap');
    for ( let i = 0; i < cards.length; i++ ) {
        cards[i].style.display = 'none';
    }
    
    if ( module == "ALL" ) moduleClass = "card-wrap";
    cards = document.getElementsByClassName( moduleClass );
    for ( let i = 0; i < cards.length; i++ ) {
        cards[i].style.display = 'block';
    }

    if ( module == "ALL" ) { // Hide funded cards by default
        cards = document.getElementsByClassName('module-Funded');
        for ( let i = 0; i < cards.length; i++ ) {
            cards[i].style.display = 'none';
        }
    }
}

document.addEventListener("DOMContentLoaded", function(event) {
    cards = document.getElementsByClassName('module-Funded');
    for ( let i = 0; i < cards.length; i++ ) {
        cards[i].style.display = 'none';
    }
});
</script>
